.popup__close{
    background: url(../../../images/CloseIcon.svg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
    .popup__close{ 
      right: 0;
      top: -45px;
    }
}

@media screen and (max-width: 320px) {
    .popup__close{
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      right: 0;
      top: -35px;

    }    
}  